
.banner-one {
    background: url("../../../assets/img/banner/2/banner-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-two {
    background: url("../../../assets/img/banner/2/banner-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-three {
    background: url("../../../assets/img/banner/2/banner-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}